<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DreamCenterApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DreamCenterApplication.Properties.Settings>
            <setting name="IsSlave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainPort" serializeAs="String">
                <value>3456</value>
            </setting>
            <setting name="MainAddress" serializeAs="String">
                <value>192.168.10.7</value>
            </setting>
        </DreamCenterApplication.Properties.Settings>
    </userSettings>
</configuration>